@import url('https://api.fonts.coollabs.io/css2?family=Cabin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$select-color: #ff838d;


::-moz-selection {
  background-color: $select-color;
}

::selection {
  background-color: $select-color;
}

body {
  background-color: #191717;
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
}

a, summary {
  text-decoration: none;
  @apply text-xl;
}

span {
  color: white;
}

code {
  background-color: white;
  color: black;
}
